
<%= link_to user_sport_path(@user_sport), class: "link-decoration-none" do %>
  <div class="link-head">
    <i class="ri-arrow-left-s-line"></i>
      <h1>Créer un entraînement</h1>
  </div>
<% end %>

<div class="container">
    <%= simple_form_for [@user_sport, @training] do |f| %>
      <%= f.input :name, label: "Nom de l'entrainement", placeholder: "Donnez un nom à votre entrainement", class: "forminput" %>
      <%= f.input :description, label: 'Description', placeholder: "Décrivez votre entrainement", class: "forminput" %>
      <%= f.button :submit, 'Ajouter des exercices', class: "btn-secondary btn-background-white forminput" %>
    <% end %>
</div>
