
<div class="head-wrapper">
    <div class="head-train">
      <%= link_to user_sport_path(@training.user_sport), class: "link-decoration-none" do %>
        <i class="ri-arrow-left-s-line"></i>
      <% end %>
      <h1 class="color-white"> <%= @training.name %></h1>
      <div class="flex gap">
        <%= link_to training_data_training_path, class: "link-decoration-none" do %>
          <i class="ri-pie-chart-line"></i>
        <% end %>
        <i class="ri-more-2-line"></i>
      </div>
    </div>

    <p class="color-white"><%= @training.sport.name %> -
    Crée le <%= @training.created_at.to_date %></p>


</div>



<%# -------------------RESUME DES DONNES----------------------------- %>

<div class="container flex-gap-16">
  <h2>Description</h2>
  <p><%= @training.description %></p>
  <h2>Par défaut</h2>

  <div class="bloc">
    <div class="defaultcard">
      <i class="ri-file-text-line"></i>
      <h3>Prise de notes</h3>
    </div>

    <div class="defaultcard">
      <i class="ri-timer-flash-line"></i>
      <h3>Durée</h3>
    </div>

    <div class="defaultcard">
      <i class="ri-calendar-line"></i>
      <h3>Date</h3>
    </div>
  </div>

  <%# -------------------EXERCICE LIST----------------------------- %>

  <h2 class="mt-2">Exercices</h2>

  <% @training.training_exercices.order(:position).each do |training_exercice| %>


    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading<%=training_exercice.id%>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=training_exercice.id%>" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
            <%= training_exercice.exercice.name %>
          </button>
        </h2>
        <div id="panelsStayOpen-collapse<%=training_exercice.id%>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%=training_exercice.id%>">
          <div class="accordion-body">
            <% training_exercice.training_metrics.order(:position).each do |training_metric| %>
              <p><span class="fw-bolder"><%= training_metric.metric %></span> \ <%= training_metric.unit %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>



<%# -------------------BUTTON DU BAS----------------------------- %>

<div class="container flex-gap-16">
  <%= button_to training_seances_path(@training), method: :post, class: "formbutton btn-primary" do %>
    <h3 class="link-decoration-none margin-auto">Saisir vos données</h3>
  <% end %>
  <%= link_to new_training_training_exercice_path(@training), class: "formbutton btn-secondary btn-background-white mb-4" do %>
  <h3 class="margin-auto">Modifier</h3>
  <% end %>
  <%# Pensez à mettre le lien link_to pour modifier %>
</div>
