<%# -------------------Block gris foncé----------------------------- %>

<div class="head-block-dark">
  <div class="container">
    <div class="flex align-center justify-between">
      <%= link_to user_sport_path(@training.user_sport), class: "link-decoration-none" do %>
        <div class="link-head">
          <i class="ri-arrow-left-s-line"></i>
          <h1 class="color-white">Entrainement</h1>
        </div>
      <% end %>
          <div><i class="ri-more-2-line icone-sans-fond"></i></div>
    </div>
    <div class="margin-top-16">
      <h2 class="color-white"><%= @training.name %></h2>
      <div>
        <p class="color-white"><%= @training.sport.name %> -
        Crée le <%= @training.created_at.to_date.strftime('%d-%m-%Y') %></p>
      </div>
    </div>
  </div>
</div>

<%# -------------------RESUME DES DONNES----------------------------- %>

<div class="container flex-gap-16">
  <h2>Description</h2>
  <p><%= @training.description %></p>
  <h2>Par défaut</h2>

  <div class="bloc">
    <div class="defaultcard">
      <i class="ri-file-text-line"></i>
      <h3>Prise de notes</h3>
    </div>

    <div class="defaultcard">
      <i class="ri-timer-flash-line"></i>
      <h3>Durée</h3>
    </div>

    <div class="defaultcard">
      <i class="ri-calendar-line"></i>
      <h3>Date</h3>
    </div>
  </div>

  <%# -------------------EXERCICE LIST----------------------------- %>

  <h2>Exercices</h2>

  <% @training.training_exercices.order(:position).each do |training_exercice| %>
    <div class="card_exercice margin-top-0">
      <%= training_exercice.exercice.name %>
    </div>
  <% end %>
</div>

<%# -------------------BUTTON DU BAS----------------------------- %>

<div class="container flex-gap-16">
  <%= button_to training_seances_path(@training), method: :post, class: "formbutton btn-primary" do %>
    <h3 class="link-decoration-none margin-auto">Saisir vos données</h3>
  <% end %>
  <%= link_to new_training_training_exercice_path(@training), class: "formbutton btn-secondary btn-background-white mb-4" do %>
  <h3 class="margin-auto">Modifier</h3>
  <% end %>
  <%# Pensez à mettre le lien link_to pour modifier %>
</div>
