<%= link_to training_path(@training), class: "link-decoration-none" do %>
  <div class="link-head">
      <i class="ri-arrow-left-s-line"></i>
      <h1><%= @training.name %></h1>
  </div>
<% end %>

<div class="container">

  <div data-controller="chart-data">

    <% @training_exercices.each do |training_exercice| %>



          <% training_exercice.training_metrics.each_with_index do |training_metric, i| %>
            <div class="chart-card" data-controller="dataindex">

              <canvas data-chart-data-target="chart"
                data-chart-data-training-exercice-metric-value="<%= training_metric.metric %>"
                data-chart-data-seance-date-value="<%= training_exercice.training_exercice_data[:x].to_json %>"
                data-chart-data-training-exercice-name-value="<%= training_exercice.exercice.name %>"
                data-chart-data-training-exercice-metrics-value="<%= training_exercice.training_exercice_data[:datasets][i].to_json  %>"
              >
              </canvas>
                <div data-action="click->dataindex#delete" class="delete-chart d-none">
                  <i class="ri-close-line" style="font-size: 20px;"></i>
                </div>

                <div class="widget-chart" data-action="click->chart-data#inject">
                  <p>Ajouter</p>
                  <i class="ri-dashboard-line" style="font-size: 20px;"></i>
                </div>

            </div>
         <% end %>


    <% end %>
  </div>

</div>
