<%# -------------------Block gris foncé----------------------------- %>

<div class="head-block-dark">
  <div class="container">
    <div class="flex align-center justify-between">
      <%= link_to user_sport_path(@seance.training.user_sport), class: "link-decoration-none" do %>
        <div class="link-head">
          <i class="ri-arrow-left-s-line"></i>
          <% if @seance.date.present? %>
          <h1 class="color-white"> Séance du <%= @seance.date.strftime('%e %b %G') %> </h1>
       <% end %>
        </div>
      <% end %>
          <div><i class="ri-more-2-line icone-sans-fond"></i></div>
    </div>
    <div class="margin-top-16">


      <h3 class="color-white"><%= @seance.training.name %> </h3>


      <p class="color-white"><i class="ri-star-s-fill"></i><%= @seance.rating %></p>
      <p class="color-white">Durée : <%= @seance.duration %> min</p>
    </div>
  </div>
</div>

<%# -------------------RESUME DES DONNES----------------------------- %>

  <div class="container">
    <h2 class="mb-3">Commentaire</h2>
    <p class="mb-4"><%= @seance.comment %></p>


  <%# -------------------EXERCICE LIST----------------------------- %>

    <h2 class="mb-4">Exercices</h2>

    <% @training_exercices.each do |training_exercice| %>
      <div class="card_exercice mt-3 mb-3">
          <h3><%= training_exercice.exercice.name %></h3>
      </div>
        <div class="ps-3">
        <%# training_exercice.training_values.each do MARCHE PAS %>
          <% TrainingValue.where(training_metric: training_exercice.training_metrics, seance: @seance).each do |training_value| %>
            <p><span class="fw-bolder"><%= training_value.training_metric.metric %></span> : <%= training_value.value %> <%= training_value.training_metric.unit %></p>
          <% end %>
        </div>
    <% end %>










    <div class="mb-5"></div>

  </div>
