<%# -------------------Block gris foncé----------------------------- %>

<div class="head-block-dark">
  <div class="container">
    <div class="flex align-center justify-between">
      <%= link_to user_sport_path(@seance.training.user_sport), class: "link-decoration-none" do %>
        <div class="link-head">
          <i class="ri-arrow-left-s-line"></i>
          <h1 class="color-white"><%= @seance.training.name %></h1>
        </div>
      <% end %>
          <div><i class="ri-more-2-line icone-sans-fond"></i></div>
    </div>
    <div class="margin-top-16">
      <p class="color-white"> Réalisée le <%= @seance.date.strftime('%d-%m-%Y') %></p>
      <p class="color-white">Note : <%= @seance.rating %></p>
      <p class="color-white">Durée : <%= @seance.duration %> min</p>
    </div>
  </div>
</div>

<%# -------------------RESUME DES DONNES----------------------------- %>

  <div class="container">
    <h2 class="mb-3">Description</h2>
    <p class="mb-4"><%= @seance.training.description %></p>


  <%# -------------------EXERCICE LIST----------------------------- %>

    <h2 class="mb-4">Exercices</h2>

    <% @training_exercices.each do |training_exercice| %>
      <div class="card_exercice margin-top-0">
          <h3><%= training_exercice.exercice.name %></h3>
      </div>
        <div class="container">
          <% training_exercice.training_values.each do |training_value| %>
            <p><span class="fw-bolder"><%= training_value.training_metric.metric %></span> : <%= training_value.value %> <%= training_value.training_metric.unit %></p>
          <% end %>
        </div>
    <% end %>

  </div>
