<div class="navprimary">

    <%= link_to user_sports_path do %>
      <div class="linknav">
        <i class="ri-home-4-line <%= controller.controller_name == "user_sports" ? "active-icon" : "" %>" style="font-size:24px"></i>
        <p>Accueil</p>
      </div>
    <% end %>

    <%= link_to trainings_path do %>
      <div class="linknav">
        <i class="ri-book-line <%= controller.controller_name == "trainings" ? "active-icon" : "" %>"style="font-size:24px"></i>
        <p>Entrainements</p>
      </div>
    <% end %>

    <%= link_to data_path do %>
      <div class="linknav">
        <i class="ri-pie-chart-line <%= controller.controller_name == "data" ? "active-icon" : "" %>"style="font-size:24px"></i>
        <p></i>Données</p>
      </div>
    <% end %>


      <div class="linknav">
      <i class="ri-user-line" style="font-size:24px"></i>
      <p>Profil</p>
      </div>


</div>
