 <%# -------------------EN-TETE----------------------------- %>

<%= link_to new_training_training_exercice_path(@training), class: "link-decoration-none" do %>
  <div class="link-head">
    <i class="ri-arrow-left-s-line"></i>
      <h1>Personnalisation de vos données</h1>
  </div>
<% end %>

<%# -------------------RESUME DES DONNES----------------------------- %>

<div class="container flex-gap-16">
  <h2>Par défaut</h2>

  <div class="bloc">
    <div class="defaultcard">
      <i class="ri-file-text-line"></i>
      <h3>Prise de notes</h3>
    </div>

    <div class="defaultcard">
      <i class="ri-timer-flash-line"></i>
      <h3>Durée</h3>
    </div>

    <div class="defaultcard">
      <i class="ri-calendar-line"></i>
      <h3>Date</h3>
    </div>
  </div>
</div>


<div class="container">
  <h2 class="mb-3">Choix de vos données</h2>

    <% @training_exercices.each do |training_exercice|  %>

    <%# -------------------ACCORDEON----------------------------- %>

        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">

            <h2 class="accordion-header" id="panelsStayOpen-heading<%= training_exercice.id%>">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= training_exercice.id%>" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">

                <h3 class="entete-card font-weight-700 padding-0-entete"><%= training_exercice.exercice.name %></h3>

              </button>
              </h2>
              <div id="panelsStayOpen-collapse<%= training_exercice.id%>" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading<%= training_exercice.id%>">
              <div class="accordion-body">

        <%# -------------------CONTENUE ACCORDEON----------------------------- %>

                <h3 class="ps-3 mb-4 mt-4">Données recommandées</h3>

        <%# -------------------SORTABLE DES TRAINING METRICS----------------------------- %>

                  <ul class="padding-0" data-controller="sortable" data-sortable-resource-name-value="training_metric">
                    <% training_exercice.training_metrics.each do |training_metric| %>

                        <li>
                          <div class="card-metric mt-2">
                            <p class="margin-0"><%= training_metric.metric %> \ <%= training_metric.unit %></p>

                            <div class="d-flex">
                              <i class="ri-drag-move-2-fill font-size-15 pe-2"></i>
                              <%= link_to training_metric_path(training_metric), data: { turbo_method: :delete } do %>
                                <div><i class="ri-close-line"></i></i></div>
                              <% end %>
                            </div>
                          </div>
                        </li>

                    <% end %>
                  </ul>

                  <h3 class="ps-3 mb-4 mt-4">Données personelles</h3>

                  <%# -------------------FORM NESTE----------------------------- %>

                  <%= form_with model: training_exercice, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |training_exercice_form| %>
                      <%= training_exercice_form.simple_fields_for :training_metrics do |f| %>

                        <template data-nested-form-target="template">
                          <%= training_exercice_form.fields_for :training_metrics, TrainingMetric.new, child_index: 'NEW_RECORD' do |training_metric_fields| %>
                            <%= render "shared/training_metric_form", training_exercice_form: training_metric_fields %>
                          <% end %>
                        </template>

                      <% end %>
                      <div data-nested-form-target="target"></div>
                        <button class="btn btn-secondary btn-background-white mb-2 my-4" type="button" data-action="nested-form#add">Ajouter une donnée</button>
                      <%= training_exercice_form.submit 'Confirmer', class: "btn btn-secondary btn-background-white" %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>

    <% end %>
  <%# -------------------FIN ACCORDEON----------------------------- %>



  <%= link_to training_path(@training), class: "btn btn-primary mb-5 mt-5" do %>
      <h3>Enregistrer</h3>
  <% end %>

</div>
