<div class="container">
  <div class="wrapper", data-controller="toggle" >
    <h1>Ajouter un exercice</h1>
<%# -------------------SEARCHBAR--------------------------------------- %>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: new_training_training_exercice_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher un exercice"
        %>
        <button class="btn btn-primary" , name="" , type="submit"> <i class="ri-search-line"></i>
        </button>
        <button class="btn btn-disabled mx-2"><i class="ri-filter-3-line"></i></button>
        <% end %>
      </div>
    </div>

<%# -------------------EXERCICE LIST----------------------------- %>

    <% @exercices.each do |exercice| %>
    <div>
    <% unless TrainingExercice.exercice?(exercice, @training) %>
      <%= link_to training_training_exercices_path(exercice_id: exercice.id, training: @training.id), data: { turbo_method: :post }, class: "card_exercice" do %>
        <%= exercice.name %><i class="fa-regular fa-circle"></i>
      <% end %>
    <% else %>
    <%= link_to training_exercice_path(TrainingExercice.find_by(exercice: exercice, training: @training)), data: { turbo_method: :delete }, class: "card_exercice_select" do %>
       <%= exercice.name %><i class="fa-regular fa-circle"></i>
    <% end %>
    <% end %>
    </div>
    <% end %>


<%# -------------------EXERCICE LIST----------------------------- %>

<button class="btn_position_bas btn btn-primary">Ajouter ces exercices</button>
  </div>

</div>
