<div class="container">
  <%= image_tag "" %>
  <div>
    <h3 class="mb-3">Bonjour <%= current_user.nick_name %>,</h3>
    <h1>Prêt pour un entrainement ?</h1>
  </div>

  <%= link_to sports_path, class:"indexcard" do %>
      <h3>Commencez par créer votre premier entrainement</h3>
      <i class="ri-arrow-left-s-line"></i>
  <% end %>
</div>

<div class="container">
  <div class="flex jcsb padding-b">
    <h2>Vos entrainements</h2>
    <%= link_to "voir plus", trainings_path %>
  </div>

  <% @trainings.limit(1).each do |training| %>

    <%= link_to training_path(training.id), class: "training_card" do %>
      <div class="bloc mt-2 d-flex justify-content-between align-items-center">
        <div>
          <h3><%= training.name %></h3>
          <div class="defaultcardt d-flex mt-2">
            <i class="fa-solid fa-person-walking me-2" style="color: #000000; font-size: 18px;"></i>
            <h3 class="padding-top-1"><%= training.exercices.count %> <%= training.exercices.count <= 1 ? 'exercice' : 'exercices' %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
